/* styles.css */

/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #3041d6;
    color: #fff;
    padding: 20px;
    position: sticky;
    min-height: 15vh;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background-color: #3041d6;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
}

/* Page-specific Styles */

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}
h3 {
    color: #031104;
}

p {
    color: #000000;
}



/* CSS  */
#home{
    height: 80vh;
    background-image: url('https://i.ytimg.com/vi/K1K-rHbdmHw/maxresdefault.jpg');
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.inner-home{
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
}

#poultry-farms{
    height: 95vh;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#about{
    display: flex;
    background-image: url('https://sheltersengineering.com/wp-content/uploads/2023/06/poultry-farm-shed2.jpg');
    flex-direction: column;
    justify-content: center;
    height: 95vh;
    padding: 10px 20px;
    background-color: rgb(28, 207, 22);
    text-align: center;
}

.inner-about{
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
}
#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95vh;
    padding: 10px 20px;
    background-color: rgb(199, 241, 100);
    text-align: center;
}
